---
import "@fontsource-variable/open-sans";
import { twMerge } from "tailwind-merge";

import "@/styles/index.css";

import ThemeScript from "@/components/theme-script.astro";
import Header from "@/components/header.astro";
import SearchDialog from "@/components/search-dialog.astro";

interface Props {
	title?: string;
	mainClass?: string;
}

const { title, mainClass = "" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title ? `${title} | ` : ""}Web Cube`}</title>
		<meta
			property="og:title"
			content="Web Cube - Create and customize your rubik's cube."
		/>
		<meta property="og:type" content="website" />
		<meta property="og:image" content="/og.avif" />
		<meta property="og:url" content={Astro.url} />
		<meta
			property="og:description"
			content="Web Cube is a web component that allows you to create
            and customize your own rubik's cube."
		/>
		<ThemeScript transition:persist />
	</head>
	<body class="flex flex-col relative overflow-x-hidden">
		<Header transition:persist />
		<main
			class:list={twMerge(
				"container mx-auto py-8 px-4 md:px-6 lg:px-8 grow",
				mainClass,
			)}
		>
			<slot />
		</main>
		<SearchDialog transition:persist />
	</body>
</html>
