---
import WebCube from "../components/WebCube.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<main>
		<h1 class="text-8xl font-bold text-center">WEB CUBE</h1>
		<WebCube size={2} />
	</main>
</BaseLayout>
