---
import BackgroundGradients from "@/components/background-gradients.astro";
import Footer from "@/components/footer.astro";
import WebCube from "@/components/web-cube.astro";
import BaseLayout from "@/layouts/base-layout.astro";
---

<BaseLayout mainClass="gap-12 flex flex-col w-full">
  <BackgroundGradients />
  <section
    class="text-content mx-auto my-[5dvh] text-center md:my-[7.5dvh] lg:my-[10dvh]"
  >
    <h1 class="font-normal">
      <span class="text-cube-up dark:brightness-125">Create</span> and <span class="text-cube-left dark:brightness-125">customize</span> your <span class="text-cube-right dark:brightness-125"><strong>rubik's cube.</strong></span>
    </h1>
    <p>
      <strong>Web Cube</strong> is a web component that allows you to create and
      customize your own rubik's cube.
    </p>
    <div class="not-prose mt-16">
      <a
        href="/docs/get-started/quick-start"
        class="bg-cube-left mt-4 rounded px-8 py-4 font-bold text-white shadow-md transition-colors hover:bg-blue-700"
      >
        Get Started
      </a>
    </div>
  </section>

  <section class="flex flex-col gap-4">
    <article class="text-content">
      <h2>Do you wanna try it?</h2>
      <p>
        Drag outside the cube to rotate it or drag inside the cube to rotate a
        face.
      </p>
    </article>
    <article class="overflow-hidden rounded-lg bg-slate-300 dark:bg-slate-700">
      <WebCube size={3} />
    </article>
  </section>

  <section class="grid grid-cols-1 gap-4 md:grid-cols-2">
    <article class="text-content rounded-lg flex items-stretch gap-8 overflow-hidden border border-slate-300 dark:border-slate-700">
      <div class="bg-slate-300 dark:bg-slate-700 grid place-items-center">
        <span class="i-simple-icons-npm size-16 mx-16"></span>
      </div>
      <div class="text-content p-4">
        <h3 class="!mt-0">Zero dependencies</h3>
        <p>Web Cube has zero npm dependencies and is built with web standards.</p>
      </div>
    </article>
    <article class="text-content rounded-lg flex items-stretch gap-8 overflow-hidden border border-slate-300 dark:border-slate-700">
      <div class="bg-slate-300 dark:bg-slate-700 grid place-items-center relative">
        <div class="size-16 mx-16">
        </div>
        <span class="i-simple-icons-react size-16 absolute top-8 left-8 bg-cube-left brightness-125"></span>
        <span class="i-simple-icons-angular size-16 absolute top-16 left-16 bg-cube-up"></span>
        <span class="i-simple-icons-vuedotjs size-16 absolute top-24 left-24 bg-cube-right"></span>
      </div>
      <div class="text-content p-4">
        <h3 class="!mt-0">Works with any framework</h3>
        <p>
          Web Cube is a web component that can be used with any framework or without it.
        </p>
      </div>
  </section>
  <Footer />
</BaseLayout>
