<figure
    class="pointer-events-none absolute top-0 left-0 z-[-1] w-full overflow-x-hidden h-full"
>
    <div
        class="radial-circle left-[50vw] -translate-x-1/2 -translate-y-1/2"
        style="--color: var(--color-cube-up);--diameter: 60rem;"
    >
    </div>
    <div
        class="radial-circle left-[33vw] -translate-x-1/2 translate-y-1/2 opacity-20"
        style="--color: var(--color-cube-back);--diameter: 30vw;"
    >
    </div>
    <div
        class="radial-circle left-[66vw] -translate-x-1/2 translate-y-1/4"
        style="--color: var(--color-cube-left);--diameter: 50vw;"
    >
    </div>
</figure>
