---
const currentYear = new Date().getFullYear();
---

<footer
  class="text-content flex h-14 items-center justify-between px-8 md:h-16 md:px-12 lg:h-20 lg:px-16"
>
  <span class="opacity-50">© {currentYear} Axford</span>
</footer>
