---
import SearchButton from "@/components/search-button.astro";
import ThemeButton from "@/components/theme-button.astro";

const isDocsPage = Astro.url.pathname.startsWith("/docs");
---

<header
  id="main-header"
  class="sticky top-0 z-10 border-b border-slate-500 bg-slate-100/70 px-6 backdrop-blur-xl transition-colors md:px-12 lg:px-16 dark:bg-slate-900/70"
  style="
    --tw-bg-opacity:
    var(--header-bg-opacity); --tw-border-opacity: var(--header-border-opacity);"
>
<nav class="h-14 lg:h-20 md:h-16 justify-between container mx-auto flex items-center">
  <a href="/" class="flex shrink-0 items-center gap-4">
    <figure>
      <img
        src="/favicon.svg"
        alt="Web Cube logo"
        class="size-8 md:size-10 lg:size-12"
      />
    </figure>
    <span class="text-xl font-bold uppercase md:text-2xl">Web Cube</span>
  </a>
  <div class="flex shrink-0 items-center gap-2 sm:gap-4">
    <SearchButton />
    <span class="shrink-0 opacity-50">|</span>
    <ThemeButton class={isDocsPage ? "hidden md:grid" : ""} />
    <span class:list={["shrink-0 opacity-50", isDocsPage && "hidden md:inline"]}
      >|</span
    >
    <a
      href="https://github.com/MrAxf/web-cube"
      target="_blank"
      class:list={["icon-button shrink-0", isDocsPage && "hidden md:grid"]}
      aria-label="GitHub repository"
      title="GitHub repository"
    >
      <span class="i-simple-icons-github"></span>
    </a>
    {
      isDocsPage && (
        <button
          id="menu-button"
          class="icon-button grid md:hidden"
          title="Open menu"
        >
          <span class="i-heroicons-bars-3" />
        </button>
      )
    }
  </div>
</nav>
</header>

<script>
  window.addEventListener("scroll", () => {
    document.documentElement.style.setProperty(
      "--header-bg-opacity",
      window.scrollY > 0 ? "0.7" : "0",
    );
    document.documentElement.style.setProperty(
      "--header-border-opacity",
      window.scrollY > 0 ? "0.7" : "0",
    );
  });
</script>
