---
import { getCollection } from "astro:content";

import ThemeButton from "./theme-button.astro";

const docs = await getCollection("docs");

const groupedDocs = docs
  .sort(
    (a, b) =>
      a.data.groupOrder - b.data.groupOrder || a.data.order - b.data.order,
  )
  .reduce((acc: { [key: string]: typeof docs }, doc) => {
    const { group } = doc.data;
    if (!acc[group]) {
      acc[group] = [];
    }
    acc[group].push(doc);
    return acc;
  }, {});
const path = Astro.url.pathname;
---

<aside
  id="side-navigation"
  class:list={[
    "fixed md:sticky",
    "hidden flex-col items-start justify-start data-[open]:flex md:flex",
    "left-0 top-14 md:top-16 lg:top-20",
    "h-[calc(100dvh-3.5rem)] w-full md:h-[calc(100dvh-4rem)] md:w-64 lg:h-[calc(100dvh-5rem)]",
    "z-[2] shrink-0 border-r-0 border-slate-500 bg-[--color-background] p-4 md:border-r",
  ]}
>
  <nav class="grow overflow-y-auto">
    {
      Object.entries(groupedDocs).map(([group, documents]) => (
        <div>
          <h2 class="mb-4 text-xl font-bold">{group}</h2>
          <ul class="mb-4">
            {documents
              .sort((a, b) => a.data.order - b.data.order)
              .map((doc) => (
                <li class="ps-4">
                  <a
                    href={`/docs/${doc.data.path}`}
                    data-active={path.includes(doc.data.path) ? "true" : null}
                    class="block rounded-lg px-2 py-0.5 opacity-70 transition-all hover:opacity-100 data-[active]:bg-[--color-cube-left] data-[active]:text-slate-100 data-[active]:opacity-100"
                  >
                    {doc.data.title}
                  </a>
                </li>
              ))}
          </ul>
        </div>
      ))
    }
  </nav>
  <footer class="flex gap-4 md:hidden">
    <ThemeButton id="theme-button-aside" />
    <span class="shrink-0 opacity-50">|</span>
    <a
      href="https://github.com/MrAxf/web-cube"
      target="_blank"
      class="icon-button shrink-0"
      aria-label="GitHub repository"
      title="GitHub repository"
    >
      <span class="i-simple-icons-github"></span>
    </a>
  </footer>

  <script>
    const init = () => {
      const $sideNavigation = document.getElementById("side-navigation");
      const $menuButton = document.getElementById("menu-button");

      $menuButton!.addEventListener("click", () => {
        if ($sideNavigation!.hasAttribute("data-open")) {
          $sideNavigation!.removeAttribute("data-open");
        } else {
          $sideNavigation!.setAttribute("data-open", "");
        }
      });
    };

    init();
    document.addEventListener("astro:after-swap", init);
  </script>
</aside>
