---
interface Props {
    key: string;
    containerClass?: string;
    hidden?: boolean;
}

const { key, containerClass = "", hidden = false } = Astro.props;
---

<div data-tab-content={key} class:list={[containerClass, hidden && "hidden"]}>
    <slot />
</div>
